# A linha abaixo determina que o diretório node_modules não será enviado ao repositório remoto
node_modules
package-lock.json

# Arquivos sensíveis.
.env
.env.dev

*.mp4
./public/dashboard/web-nativo/*

.github
