@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}


body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../assets/miles-morales-spiderman-red-background-desktop-wallpaper-4k.jpg");
    background-size: cover;      
    background-attachment: fixed;
    background-position: center center;      
    background-repeat: no-repeat;
    width: 100%;                     
    height: auto;
    object-fit: cover;
    display: block;
    padding-top: 5px;
    overflow: hidden;
}

.nav{
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 0 0 5px #FF0000;
    margin-left: 100px;
    margin-right: 100px;
}

.logo{
    font-size: 25px;
    text-shadow: 0 0 5px #FF0000;
}

.nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.Cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.form{
    width: 40%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.form h1{
    color: white;
    
}
#campos{
    display: flex;
    align-items: center;
    justify-content: center;
}
#campos img{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
#campos input{
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 30px;
}

#campos input::placeholder{
    padding-left: 10px;
}


button {
    border: 1px solid transparent;
    border-radius: 25px;
    
    background: radial-gradient(circle, #FA2723, #FA0C00);
    width: 200px;
    height: 35px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

button:hover{
    background: black;
    box-shadow: 0 0 21px rgb(255, 0, 0);
    text-shadow: 0 0 21px rgb(255, 0, 0);
}

h3 a{
    text-decoration: none;
    color: white;
    
}

.a-logar{
    text-shadow: 0 0 21px rgb(255, 255, 255);
}

.a-logar:hover{
    color: black;
    text-shadow: 0 0 21px rgb(0, 195, 255);
}